@media(max-width: 1600px) {
    .services__dropdown__element__header__title {
        left: -3%;
    }
    .services__dropdown__element__header__title > div {
        margin-left: 30px;
    }
  #contact__us.popup_block .popup_inner .footer__form__inner > * {
        width: 100% !important;
    }
    .popup_inner .form_submit {
         padding: unset;
    }
    .header__menu a:hover{
        border-bottom: unset;
    }
    .header__section__picture:after{
        background: linear-gradient(0deg, #191347 25%, rgba(25, 19, 71, 0) 78.8%);
    }
    .header__section__picture {
        position: absolute;
        right: -100px;
        top: unset;
        bottom: 0;
        width: 60%;
    }
    .header__section__picture img{
        width: 100%;
    }
    .header__section {
        background-position: top;
    }
    .burger_block{
        display: flex;
    }
    .md__container {
        margin: 0 64px;
        width: calc(100% - 128px);
        padding: unset;
    }
    .header__inner > .header__menu{
        display: none;
    }
    .header__contacts {
        width: 550px;
    }
    .footer__form__inner {
        margin: 0 -10px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .footer__form {
        height:unset;
        min-height: 536px;
    }
    .footer__form__img img {
        width: 516px;
        height: auto;
        margin-top: 88px;
    }
    .footer__form{
        overflow: hidden;
        position: relative;
    }
    .footer__form__img{
        height: 100%;
    }
    .footer__form__img img{
        position: absolute;
        bottom: 0;
        right: 20px;
    }
    .footer__form__inner > *{
        width: 400px !important;
    }
    .textarea textarea {
        height: 135px;
        border-radius: 20px;
    }
    input:not(input[type="checkbox"]) {
        width: 100%;
    }
    .another_btn{
        width: 100%;
    }
    .form_submit{
        margin-top: 5px;
        padding: 0 10px;
        margin-bottom: 20px;
    }
}
@media(max-width: 1400px) {
    .large__container{
        margin: 0 45px;
        width: calc(100% - 90px);
    }
}
@media(max-width: 1200px) {
    .services__dropdown__element__body .check_list {
        border-bottom: 0;
    }
    .services__dropdown__element__body .check_list{
        flex-direction: column;
    }
    .services__dropdown__element__header img{
        min-width: 100%;
    }
    .services__section {
        background-position: 0% 205px;
    }
    .services__section:after {
        bottom: -650px;
    }
    ul {
        margin-bottom: 15px;
    }
    .check_list li {
        margin-bottom: 15px;
    }
    .services__dropdown__element__body .services__dropdown__element__body__lists{
        flex-direction: column;
    }
    .services__dropdown__element__footer .c__btn{
        margin-bottom: 20px;
    }
    .services__dropdown__element__footer > div{
        width: 100%;
    }
    .services__dropdown__element__footer {
        flex-direction: column;
    }
    .services__dropdown__element__body__lists > * {
        width: 100%;
    }
    .services__dropdown__header{
        height: 100%;
    }
    .services__dropdown{
        flex-wrap: wrap;
    }
    .services__dropdown:before{
        transform: unset;
        top: 25px;
    }
    .header-24 {
        right: -15%;
    }
    .services__dropdown {
        margin-bottom: 20px;
    }
    .t46{
        font-size: 32px;
    }
    .footer__tel div:first-child{
        margin-bottom: 30px;
    }
    .footer__contacts{
        padding-bottom: 80px;
    }
    .footer__contacts__inner {
        align-items: flex-end;
    }
    .form__checkbox {
        width: 400px;
        align-items: flex-start;
    }
    .footer__tel {
        flex-direction: column;
    }
    .form__checkbox input{
        margin-right: 15px;
    }
    .md__container, .large__container {
        margin: 0 35px;
        width: calc(100% - 70px);
        padding: unset;
    }
    .services__dropdown__elements{
        display: none;
    }
    .services__dropdowns {
        width: 100%;
        padding-left: 30px;
    }
    .element-animation:nth-child(10){
        order: 10;
    }
    .company__section__img img{
        width: 100vw;
        margin-left: -7%;
    }
    .company__section {
        padding-top: 20px;
    }
    .header__section__text{
        position: relative;
        z-index: 2;
    }
    .header__section__picture {
        width: 75%;
    }
    .right_ico:after {
        left: 105%;
    }
    .header__section__text {
        width: 80%;
    }
}
@media(max-width: 1023px) {
    .header__contacts{
        width: unset;
    }
    .header__contacts .header__phone, .header__contacts .c__btn{
        display: none;
    }
    .burger__dropdown__footer__item:first-child{
        display: block;
    }
    .burger__dropdown__footer__item:last-child{
        display: block;
        margin-top: 30px;
    }
}
@media(max-width: 900px) {
    .form__checkbox {
        width: 100%;
    }
    .footer__form__inner > * {
        width: 100% !important;
    }
    .footer__form form{
        position: relative;
        z-index: 2;
    }
    .footer__form__img img {
        right: 20px;
    }
    .footer__form{
        height: 950px;
    }
}

@media(max-width: 767px) {
    .services__dropdown__element__header img {
        float: right;
    }
    .services__dropdown.opened .services__dropdown__element {
        margin: 20px -10px 0 -15px;
        width: calc(100% + 25px);
    }
    .services__dropdown__element{
        padding: 10px 14px;
    }
    .close_icon {
        right: 0;
        top: 0;
    }
    .popup_inner {
        padding: 0px 0px 0px 0px;
    }
    .popup_inner > p, .popup_inner > h2{
        margin-right: 60px;
    }
    .header__section__picture:after {
        left: 21px;
    }
    .header__section__inner {
        padding-bottom: 40px;
    }
    .header__section__picture{
        width: 487px;
        bottom: -50px;
        right: -120px;
    }
    .right_ico.d-block{
        width: 80%;
    }
    .header__section__text {
        width: 100%;
    }
    .mb-60 {
        margin-bottom: 20px;
    }
    .services__dropdown__title{
        height: 110px;
        display: flex;
        align-items: center;
    }
    .services__dropdown:before {
        left: 10px;
    }
    .services__dropdown {
        padding: 20px 10px 20px 15px;
    }
    .services__dropdown__title {
        width: 80%;
        padding-left: 80px;
    }
    .t96.fw100.opacity33{
        display: none;
    }
    .header-24 {
        right: 0%;
        width: 75px;
        height: 72px;
        top: 75px;
    }
    .services__dropdowns {
        padding-left: 0;
    }

    .footer__form {
        margin-bottom: 50px;
    }
    section {
        padding: 20px 0;
    }
    .footer__tel div:first-child {
        margin-bottom: 15px;
        margin-right: unset;
    }
    p {
        margin: 0 0 10px 0;
    }
    .footer__form {
        height: 900px;
    }
    .footer__form form {
        width: 100%;
    }
    .footer__form__img img {
        width: 230px;
        margin-top: unset;
    }
    body{
        font-size: 16px;
    }
    h2{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .t20{
        font-size: 18px;
    }
    .t24{
        font-size: 20px;
    }
    .t32{
        font-size: 24px;
    }
    .t48{
        font-size: 28px;
    }
    .t86{
        font-size: 40px;
    }
    .t46{
        font-size: 20px;
    }
    .large__container, .md__container{
        margin: 0 15px;
        width: calc(100% - 30px);
    }
    .company__section__img img {
        width: 120vw;
        margin-left: -12%;
    }
    .footer__contacts__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
    .footer__contacts {
        background-size: cover;
        background-position: 50%;
    }
    .footer__form {
        padding: 20px 15px;
    }
    .designer{
        margin-top: 20px;
    }
}
@media(max-width: 500px) {
    .popup_block {
        position: fixed;
        top: 5%;
        max-height: calc(100vh - 10%);
        overflow: scroll;
    }
    .header__section__inner {
        padding-bottom: 170px;
    }
    .footer__form {
        height:860px;
    }
    .header__logo img {
        width: 240px;
    }
    .header-24 {
        right: -4%;
        width: 75px;
        height: 64px;
        top: 63px;
    }
}