body {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight);
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-style: normal;
  letter-spacing: 0.01em;
  line-height: 1.2;
  background-color: #F2F2F2;

  &.no-overflow {
    overflow: hidden;
  }
}

a, .link {
  @include cross-browser-transition(var(--transition));
  color: var(--color-primary);
  cursor: var(--cursor-pointer);

  &:hover {
    color: var(--color-primary-hover);
  }
  &:focus {
    color: var(--color-primary-focus);
  }

  &.white-link {
    color: var(--color-white);

    &:hover {
      color: var(--color-primary-hover);
    }
    &:focus {
      color: var(--color-primary-focus);
    }
  }

  &.text-link {
    color: var(--color-text);

    &:hover {
      color: var(--color-primary);
    }
  }
}

path {
  @include cross-browser-transition(var(--transition));
}

p {
  margin: 0 0 var(--base-margin);
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: 300;
  margin: 5px;
  line-height: 1.1;
}

h2, h3 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight);
  margin: 0 0 var(--title-margin);
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  margin: 0 0 var(--base-margin);
  font-size: var(--font-size-xl);
}

.cursor {
  &--pointer { cursor: pointer; }
}

.color {
  &--white { color: var(--color-white); }
  &--primary { color: var(--color-primary); }
}

.text-align {
  &--center { text-align: center; }
  &--right { text-align: right; }
  &--left { text-align: left; }
}

.margin {
  &--bottom-base { margin-bottom: var(--base-margin) }
}

.font-weight {
  &--400 { font-weight: 400; }
  &--500 { font-weight: 500; }
  &--600 { font-weight: 600; }
  &--700 { font-weight: 700; }
  &--900 { font-weight: 900; }
}

.font-size {
  &--16 { font-size: var(--font-size-xs); }
  &--18 { font-size: var(--font-size-s); }
  &--20 { font-size: var(--font-size-xm); }
  &--24 { font-size: var(--font-size-base); }
  &--28 { font-size: var(--font-size-xl); }
  &--30 { font-size: 30px; }
  &--32 { font-size: var(--font-size-xxl); }
  &--48 { font-size: var(--font-size-xxxl); }
  &--96 { font-size: var(--font-size-f); }
}

img, picture {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}

.button {
  @include cross-browser-transition(var(--transition));
  @include flex-row-center-center;
  background: var(--color-primary);
  color: var(--color-text);
  padding: 28px 26px;
  min-width: 232px;
  line-height: 100%;
  font-weight: var(--font-weight);
  font-size: var(--font-size-s);
  cursor: var(--cursor-pointer);
  width: max-content;
  border: 2px solid transparent;
  box-shadow: 0px 1.13px 1.01px 0px #00D7B537;
  box-shadow: 0px 9px 26px 0px #00D7B56E;

  border-radius: var(--border-radius);
  text-transform: uppercase;

  &:hover {
    background: var(--color-primary-hover);
  }
  &:focus {
    background: var(--color-primary-focus);
  }

  &.button--second {
    background: var(--color-second);
    color: var(--color-white);
    box-shadow: 0px 1.5px 0.02px 0px #006FB932;
    box-shadow: 0px 12px 26px 0px #006FB963;

    &:hover {
      background: var(--color-second-hover);
    }
    &:focus {
      background: var(--color-second-focus);
    }

  }

  &.button--second-border {
    border-color: var(--color-white);
  }

  &.button--full-width {
    width: 100%;
  }

  &.button--round {
    border-radius: var(--border-radius-round);
  }

  @media (max-width: $media-sm) {
    padding: 16px 15px;
    width: 100%;
  }
}

.loading {
  position: relative;
}

.preloader {
  @include flex-row-center-center;
  position: absolute;
  inset: 0;

  svg{
    animation: rotating 2s linear infinite;
    -webkit-animation: rotating 2s linear infinite;
  }
}

.container {
  padding: 0 15px;
  max-width: 100%;
  margin: auto;
  width: 1795px;
}

.menu {
  text-transform: uppercase;
  background: #FFFFFFD1;
  backdrop-filter: blur(8px);
  box-shadow: 0px 6px 12.3px 0px #00000021;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 9px 11px;
  border-radius: var(--border-radius-round);
  font-size: var(--font-size-s);

  &__link {
    display: block;
    padding: 13px 25px;
    border-radius: var(--border-radius-round);
    color: var(--color-text);

    &:hover, &:focus, &--active {
      color: var(--color-white);
      background: var(--color-primary);
    }
  }
}

.socials {
  display: flex;
  gap: 16px;
  align-items: center;

  img {
    min-width: 54px;
    min-height: 54px;
  }
}

.swiper-container {
  overflow: hidden;
  position: relative;
  padding-bottom: 45px;

  &--navigation {
    padding-top: 50px;
  }

  @media (max-width: $media-sm) {
    &--navigation {
      padding-top: 0;
    }
  }
}
.swiper-buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 17px;

  @media (max-width: $media-sm) {
    display: none;
  }
}
.swiper-button::after {
  display: none;
}
.swiper-button::before {
  display: none;
}
.swiper-button {
  position: static;
  width: 20px;
  height: 20px;
  margin: 0;
}
.swiper-button-next {
  transform: rotate(180deg);
}
.swiper-pagination {
  display: none;
}
.swiper-pagination-bullet {
  background: #B3B3B3;
}
.swiper-pagination-bullet-active {
  background: var(--color-primary);
}
@media (max-width: $media-xl) {
  .swiper-pagination {
    display: block;
  }
}

ul.list {
  margin-top: 10px;
  margin-bottom: var(--base-margin);

  li {
    position: relative;
    padding-left: 20px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 9px;
      display: block;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: var(--color-primary);
    }
  }
}
ul.icon {
  margin-top: 10px;
  margin-bottom: var(--base-margin);

  li {
    position: relative;
    padding-left: 34px;
    margin-bottom: var(--base-margin);

    &:before {
      content: url(../images/ul.png);
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      height: 24px;
      width: 24px;
    }
  }
}

b {
  font-weight: 600;
}

input, select, textarea {
  border: 1px solid var(--color-primary);
  padding: var(--input-padding);
  background: #FFFFFFBA;
  width: 100%;
  font-size: var(--font-size-s);
  border-radius: 46px;
}
.error input,.error select,.error textarea, .form-field--checkbox.error .checkbox {
  border-color: red;
}
input::placeholder,
select::placeholder,
textarea::placeholder {
  color: var(--color-text);
}
.form-field--checkbox {
  input {
    display: none;
  }
  label {
    font-size: 14px;
    display: flex;
    align-items: flex-start;
  }
  .checkbox {
    @include cross-browser-transition(var(--transition));
    display: block;
    width: 24px;
    height: 24px;
    min-width: 24px;
    border: 1px solid var(--color-second);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    margin-top: -3px;
  }
}

input:checked + .checkbox::before {
  content: url("../images/ch.svg");
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50%);
  transform: translate(-50%, -50%);
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  .form-field {
    width: 100%;

  }

  &--2 {
    flex-direction: row;
    .form-field {
      @include item-width(2, 20px)
    }
  }
  &--3 {
    flex-direction: row;
    .form-field {
      @include item-width(3, 20px)
    }
  }

  @media (max-width: $media-sm) {
    &--2 {
      flex-direction: column;
      .form-field {
        width: 100%;
      }
    }
    &--3 {
      flex-direction: column;
      .form-field {
        width: 100%;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &.modal-tariff {
    font-size: var(--font-size-xs);
  }
}

.modal.modal--active {
  display: flex;
}

.modal__content {
  background-color: #fff;
  border-radius: 20px;
  max-width: 800px;
  width: 90%;
  position: relative;
  max-height: 90vh;
  overflow: hidden;
  border: 2px solid var(--color-primary);
  display: flex;
  flex-direction: column;
}


.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}

.modal__body {
  padding: 30px 30px 60px;
  overflow-y: auto;
  flex-grow: 1;

  h2, h3 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xxl);
    text-transform: none;
    margin-bottom: var(--base-margin);
    text-align: left;
  }

  @media (max-width: $media-sm) {
    padding: 30px 15px 40px;
  }
}


.section-partners__items--modal {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

body.modal-open {
  overflow: hidden;
}

.modal__content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal__content form .form-fields {
  width: 100%;
}
.modal__content form .form-button {
  margin-bottom: 0;
  align-self: center;
}

.line {
  width: 100%;
  height: 1px;
  background: #D8D8D8;
  margin: 30px 0;
}