@font-face {
  font-family: 'Commissioner';
  src: url('../fonts/Commissioner/Commissioner-VariableFont_FLAR,VOLM,slnt,wght.ttf') format('truetype');
  font-weight: 100 900;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}
