@mixin flex-row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin flex-row-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

@mixin flex-row-top-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

@mixin flex-row-center-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

@mixin flex-row-center-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

@mixin flex-column-left-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

@mixin flex-column-left-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

@mixin flex-column-center-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

@mixin flex-column-right-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}

@mixin flex-column-left-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

@mixin flex-column-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-wrap-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin cross-browser-transition($args...) {
  transition: $args;
  -webkit-transition: $args;
}

@mixin cross-browser-box-shadow($args...) {
  box-shadow: $args;
  -webkit-box-shadow: $args;
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin item-width($count, $gap) {
  width: calc((100% - ($count - 1) * #{$gap}) / $count);
}

@mixin responsive-arrow {
  content: url("../../images/icons/arrow.svg");

  @media (max-width: $media-xl) {
    content: url("../../images/icons/arrow-mb.svg");
  }
}
