/* Определяем базовые стили для элементов */
html {
  line-height: 1.15; /* Устраняем отличие в рендеринге текста */
  -webkit-text-size-adjust: 100%; /* Исправляем изменение размера текста в Safari */
}

body {
  margin: 0; /* Устраняем отступы по умолчанию */
}

main {
  display: block; /* Устраняем проблему в IE */
}

h1 {
  font-size: 2em; /* Задаем размер заголовков */
  margin: 0.67em 0;
}

/* Устанавливаем базовые стили для списков */
ol, ul {
  list-style: none; /* Убираем маркеры у списков */
  margin: 0;
  padding: 0;
}

/* Устанавливаем базовые стили для изображений */
img {
  border-style: none; /* Убираем границу у изображений */
}

/* Убираем подчеркивание у ссылок */
a {
  text-decoration: none;
  color: inherit; /* Устанавливаем цвет ссылки как у текста */
}

/* Устанавливаем размеры */
* {
  box-sizing: border-box;
}

/* Устанавливаем базовые стили для форм */
button,
input,
optgroup,
select,
textarea {
  background: none;
  outline: none;
  border: none;
  font-size: var(--font-size-base); /* Устанавливаем размер шрифта 100% */
  line-height: 1.15; /* Устанавливаем базовую высоту строки */
  margin: 0; /* Устраняем отступы */
}

button,
input { /* Устраняем различия в стилях между браузерами */
  overflow: visible;
}

button,
select { /* Устраняем проблемы с паддингом в IE */
  text-transform: none;
}

/* Устанавливаем базовые стили для текстовых полей */
textarea {
  overflow: auto; /* Устраняем проблему с переполнением */
  resize: vertical; /* Позволяем изменять высоту текстовых полей */
}

table {
  border-collapse: collapse; /* Устраняем разделение границ таблицы */
  border-spacing: 0;
}